ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  text-align: center;
}

.shopping {
  width: 30em;
  height: 40em;
  margin: 0 auto;
  padding: 0.2em 1em;
  border-radius: 1em 1em;
  background-color: #373c45;
}

.shopping__header {
  margin: 1em 2em;
}

.shopping__header .logo:hover {
  transform: scale(1.1);
}

.shopping__header .btns {
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
}

.shopping__header .btns li button {
  margin-right: 0.5em;
}

.shopping__header .btns li button:hover {
  transform: scale(1.1);
}

.shopping__header .btns .shirt img,
.shopping__header .btns .pants img,
.shopping__header .btns .skirt img {
  width: 50px;
  height: 50px;
}

.blue,
.yellow,
.pink {
  border-radius: 10px;
  font-size: 1rem;
  width: 60px;
  height: 40px;
}

.blue {
  background-color: lightblue;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

.items::-webkit-scrollbar {
  display: none;
}

.items {
  width: 25em;
  height: 25em;
  margin: 0 auto;
  overflow: auto;
  /* background-color: whitesmoke; */
}

.items .item {
  display: flex;
  align-items: center;
  padding: 0.2em 1em;
  margin: 1em 1em;
  background-color: whitesmoke;
  border-radius: 0.5em;
}

.items .item * {
  margin-right: 1em;
}

.items .item {
  display: none;
}

.items .item.visible {
  display: flex;
}

.items .item img {
  width: 3em;
  height: 3em;
}
