:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

body {
  box-sizing: border-box;
  margin: 0px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}

header {
  padding: 8px 12px;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_main {
  font-size: x-large;
  color: whitesmoke;
}

.header_main i {
  color: orange;
}

.header_menu {
  display: flex;
  padding: 0px;
  justify-content: space-evenly;
}

.header_menu li {
  padding: 8px 12px;
}

.header_menu li:hover {
  background-color: orange;
  border-radius: 4px;
}

.header_links {
  display: flex;
  padding: 0px;
}

.header_links li {
  padding: 8px 12px;
  color: whitesmoke;
}

.header_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .header_menu {
    flex-direction: column;
    display: none;
    width: 100%;
    text-align: center; /* check */
  }

  .header_links {
    display: none;
    width: 100%;
    justify-content: center;
  }

  .header_toggleBtn {
    display: block;
  }

  .header_menu.active,
  .header_links.active {
    display: flex;
  }
}
