.state {
  display: flex;
  flex-direction: column;
}

.state__meta__hash {
  display: flex;
  list-style: none;
  padding: 0;
}

.state__meta__hash li {
  padding: 0px;
  color: blue;
}

.state__meta__title {
  display: flex;
  list-style: none;
  padding: 0px;
}

.state__meta__time {
  display: flex;
  list-style: none;
  padding: 0;
}

.state__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.state__btn ul {
  list-style: none;
}
